<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} - Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <h1>Portfolio</h1>
            <ul>
                <li><a href="{{ url_for('general.index') }}">View site</a></li>
                <li><a href="{{ url_for('admin.manage_categories') }}">Manage categories</a></li>
                <li><a href="{{ url_for('admin.upload_picture') }}">Manages pictures</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </nav>
        <section class="content">
            <header>
                <p>Welcome {{ g.user.username }}</p>
            </header>
            {% for message  in get_flashed_messages() %}
            <div class="flash">
                {{ message }}
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
